<div class="uk-width-1-2 uk-margin-top">
    <div class="uk-panel uk-panel-box">
        <h3 class="uk-panel-title">{{product.name}}</h3>
        <div>
            {{{product.description}}}
        </div>
        <div>
            <h5>Attributes</h5>
            {{#each product.product2Attributes as |product2Attribute|}}
                <div><b>{{product2Attribute.attribute.name}}:</b> {{product2Attribute.attributeValue.value}}</div>
            {{/each}}
        </div>
        {{#if productOptions}}
            {{item-options product=product isCancelled=isCancelled chosenSet=chosenSet}}
            <div class="uk-form uk-form-horizontal">
                <div class="uk-form-row">
                    <div class="uk-form-controls">
                        {{input type="number" id="prod-quantity" min="1" value=quantity class="uk-form-width-mini uk-form-small"}}
                        <label for="prod-quantity">Quantity</label>
                    </div>
                </div>
            </div>
        {{/if}}
        <button {{action 'addToCart'}} disabled={{isCancelled}} class="uk-margin-top uk-button-primary {{if isCancelled "uk-button-danger"}}">Add To Cart</button>
    </div>
</div>