<div class="uk-width-1-3">
    <div class="uk-panel uk-panel-box">
        <div class="uk-panel-badge uk-badge">...</div>
        <h3 class="uk-panel-title">{{model.name}}</h3>
        <div>
            {{{model.description}}}
        </div>
        <div>
            <h5>Attributes</h5>
            <ul class="uk-list">
                {{#each model.product2Attributes as |product2Attribute|}}
                    <li><b>{{product2Attribute.attribute.name}}:</b> {{product2Attribute.attributeValue.value}}</li>
                {{/each}}
            </ul>
        </div>
        <div>
            <h5>Options</h5>
            <ul class="uk-list">
                {{!--#each model.productSets as |productSet|}}
                    {{productSet.name}}
                    {{#each productSet.product2Options as |product2Option|}}
                        <li><b>{{product2Option.option.name}}:</b> {{product2Option.optionValue.value}}</li>
                    {{/each}}
                {{/each--}}
            </ul>
        </div>
    </div>
</div>



<h5>{{model.name}}</h5>

<p><b>Brand: {{model.brand.name}}</b></p>
{{#each model.productSets as |productSet|}}

    <ul>
    {{#each model.product2Attributes as |product2Attribute|}}
        <li>{{product2Attribute.attribute.name}} - {{product2Attribute.attributeValue.value}}</li>
    {{/each}}
    </ul>

{{/each}}


{{outlet}}